body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #343a40;
    margin-top: 50px;
}

#content {
    margin-top: 40px;
}

.button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #218838;
}
